server:
  port: 8202

eureka:
  client:
    service-url:
      defaultZone: http://chenpf:chenpf1234@localhost:8761/eureka/

mybatis-plus:
  mapper-locations: classpath*:com/gd/**/xml/*Mapper.xml
  global-config:
    id-type: 0
    db-column-underline: false
    refresh-mapper: true

spring:
  application:
    name: product-service
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/cloud-dev?autoReconnect=true&useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=CONVERT_TO_NULL&useSSL=false&serverTimezone=UTC
    username: root
    password: 123456
    filters: log4j,wall,mergeStat



logging:
  config: classpath:logback.xml